services:
  bot:
    image: ghcr.io/mai0313/discordbot:latest
    build:
      context: .
      target: prod
      dockerfile: ./docker/Dockerfile
    command:
      - python
      - ./main.py
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      - /mnt/share/downloaded_videos:/app/data/downloads
    restart: always
    pull_policy: always
